# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.egg-info/

# Lambda package
lambda_package/
*.zip

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# PDFs (contenido con derechos de autor)
data/knowledge_base/pdfs/
data/knowledge_base/pdf_sources/

CLASE/
test/
